@page "{recipeId:int}"
@model Juicer.Pages.Recipes.DeleteModel
@{
    ViewData["Title"] = $"Delete {Model.Recipe.Name}";
}

<h2>Delete</h2>

<div class="alert alert-danger">
    Are you sure you want to delete @Model.Recipe.Name?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a href="javascript: history.go(-1)" class="btn btn-default">Cancel</a>
</form>

