@page "{productId:int}"
@model Juicer.Pages.Products.DetailsModel
@{
    ViewData["Title"] = Model.Product.Name;
}

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}
    <h2>@Model.Product.Name</h2>

<div>
    Id: @Model.Product.Id
</div>
<div>
    Category: @Model.Product.Category
</div>

<a asp-page="./List" class="btn btn-primary">All Products</a>