@page
@model Juicer.Pages.Products.ListModel
@{
    ViewData["Title"] = "List of products";
}

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<div class="container">

    <h1 class="text-center display-4">Products</h1>

    <div class="d-flex flex-wrap">
        <div class="mr-auto">
            <a asp-page="./Edit" class="btn btn-primary">New</a>
        </div>
        <div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-dark" type="button" id="see-all-btn">See All</button>
                </div>
                <input type="text" class="form-control" placeholder="Search: " id="search-input">
            </div>
        </div>
    </div>
    <ul class="list-group float-right" id="search-list"></ul>

    <hr />

    <div id="gallery"></div>
</div>

@section Scripts {
    <script src="~/js/searchProducts.js"></script>
}