@page
@model Juicer.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Photos and recipes from: <a href="https://www.philips.co.uk/c-m-ho/food-preparation/healthy-drinks-recipe-app">Philips Healthy Drinks</a></p>
